*~
.gradle/
!gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
build/
bin/
**.properties
*.properties
.idea/
*.iml
*.iws
.DS_Store
Thumbs.db
*.log
logs/
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
**/target/
**/out/